@charset "UTF-8";

$light-grey: rgb(240,240,240);
$super-light-grey: rgb(250,250,250);
$yellow: rgb(255,245,64);
$text: #404040;
$text-light: #8C8C8C;
$white: #fff;
$black: #000;

body {
	font-family: "jaf-lapture-display", serif;
	color: $text;



	header{
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 44px;
		background: $light-grey;
		
		#diagonal{
			background: $yellow;
			position: absolute;
			width: 20px;
			height: 44px;
			transform: matrix(1,0,-.2,1,168,0);
			position: absolute;
		}

		#title{
			width: 178px;
			text-align: right;
			font-weight: 700;
			font-size: 20px;
			padding: 12px 0px 7px 1px;
			background: $yellow;
			position: absolute;
		}

		#icons{
			position: absolute;
			width: 132px;
			height: 44px;
			right: 0px;

			.icon{
				width: 44px;
				height: 44px;
				float: left;
				background: center center no-repeat;

				&#search{
					background-image: url("icons/search.svg");
				}
				&#view{
					background-image: url("icons/view.svg");
				}
				&#options{
					background-image: url("icons/options.svg");
				}

				&:hover{
					background-color: $yellow;
				}
			}
		}
	}

	#content {
		.item {
			transform-origin: center top;
			position: absolute;
			transform: scale(.75);
			transition: transform .4s, left .4s;
			top: 52px;
			width: 336px;
			left: 75%;
			margin-left: -84px;
			height: 288px;
			overflow: hidden;
			// background: $light-grey;

			&:hover{
				// overflow: visible;
				// z-index: 20;
				// box-shadow: #000 1px 1px 5px;
				// height: auto;
				// background: #fff;
				// margin-bottom: 8px;
			}

			&.isLeft {
				left: 25%;
				margin-left: -252px;
			}

			.itemHeader {
				width: 336px;
				height: 96px;
				background: $light-grey;
				background-size: 100% auto;
				position: relative;
				transition: height .4s, background .4s;
				color: $black;


				.gradient {
					width: 100%;
					height: 100%;
					background-image: -webkit-linear-gradient(top, rgba(255,255,255,.34), rgba(255,255,255,0.8));
				}

				.text{
					position: absolute;
					bottom: 0px;
					padding: 8px;

					a {
						text-decoration: none;
						// cursor: pointer;

						&:visited{
							color: $black;
						}
					}



					.title{
						// cursor: pointer;
						font-weight: 700;
						font-size: 16px;
						overflow: hidden;
						text-overflow: ellipsis;
						width: 320px;
						-webkit-line-clamp: 2;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						padding-bottom: 4px;
					}

					.author{
						&:after{
							content: " · ";
						}
					}
				}
			}

			.highlights {
				display: block;

				.description, .highlight {
					background: $super-light-grey;
					margin-top: 8px;
					padding: 8px 8px 6px 8px;

					&.description {
						color: $text-light;
					}

					&.highlight {

						.hl_content{
							margin: 1px 0px 1px 0px;

							span {
								line-height: 20px;
								outline: 4px solid $white;
								background: $white;
								font-size: 16px;
								padding: 3px 0px 1px 0px;
							}
						}

						.hl_tags {
							margin: 6px 0px -4px 0px;

							span{
								cursor: pointer;
								color: $text-light;
								font-size: 12px;
								padding: 1px 0px 0px 0px;
								margin-right: 20px;
								font-style: italic;
								white-space: pre-wrap;
								/*word-break: break-all;*/
								display: inline-block;
								margin: 1px 4px 1px 0px;

								&:hover{
									color: $text;

									&:before{
										background-image: url("tag_dark.png");
									}
								}

								&:before{
									content: "";
									display: block;
									background: url("tag.png") center center no-repeat;
									background-size: 13px 11px;
									width: 13px;
									height: 11px;
									float: left;
									margin: 0 1px 0 0;
								}
							}
						}

						
					}
				}
			}

			.blur_gradient {
				background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
				height: 96px;
				position: absolute;
				width: 100%;
				bottom: 0px;
			}

			&.focus {
				transform: scale(1);
				top: 52px;
				width: 336px;
				left: 50%;
				margin-left: -168px;
				bottom: 0px;
				height: auto;

				.itemHeader {
					height: 168px;
					
					.gradient {
						background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.8));
					}

				}

				.highlights {
					position: absolute;
					overflow-x: hidden;
					overflow-y: auto;
					top: 168px;
					bottom: 8px;
					.highlight{
						&:hover {

							.hl_content{

								span {
									outline: 4px solid $yellow;
									background: $yellow;
								}
							}
						}
					}
				}

				.blur_gradient {
					display: none;
				}
			}
		}
	}
}