.highlight{
	left: 0px;
	top: 0px;
	position: absolute;
	width: 328px;
	height: auto;
	background: #F2F2F2;
	font-size: 12px;


	font-family: "jaf-lapture-display", serif;
	font-style: normal;
	font-weight: 400;
	padding: 4px;
	cursor:pointer;

	transition: transform .4s, opacity .1s;
}

.hl_title{
	font-style: italic;
	cursor: pointer;
}

.hl_description{
	font-style: italic;	
	display: none;
	color: #A6A6A6;
}

.hl_content span{
	line-height: 20px;
  	outline: 4px solid #FFF500;
	background: #FFF500;
	font-size: 16px;
	padding: 3px 0px 1px 0px;
}

.hl_content{
	margin-top: 6px;
	margin-bottom: 4px;
}

.hl_tags span{
	cursor: pointer;
	color: #A6A6A6;
  font-size: 12px;
  padding: 1px 0px 0px 0px;
  margin-right: 20px;
  font-style: italic;
  white-space: pre-wrap;
  /*word-break: break-all;*/
  display: inline-block;
  margin: 1px 4px 1px 0px;
}

.hl_tags span:hover{
	color: #404040;
}

 .hl_tags span:before{
	content: "";
  display: block;
  background: url("tag.png") center center no-repeat;
  background-size: auto 9px;
  width: 7px;
  height: 10px;
  float: left;
  margin: 0 1px 0 0;
}

.hl_tags span:hover:before{
  background-image: url("tag_dark.png")
}

.highlight.passive:nth-child(n){
	opacity: .3;
	transition: opacity .4s;
}

.hl_tags{
	margin-top: 6px;
	margin-bottom: 4px;
	display: none;
}