body{
	color: #404040;
}

#relations{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: -1;
	width: 100%;
	
}

/*HIGHLIGHTS*/

#overflow_container{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none;
}

#overflow_container *{
	pointer-events: auto;
}

#container_inner .transition{
	transition: transform .4s;
}

#header {
	background: #F2F2F2;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 44px;
	font-size: 20px;
	border-bottom: 1px solid #404040;
}

#header #flaneur{
	background: #FFF500;
	height: 32px;
	padding: 12px 12px 0 12px;
	font-weight: 700;
	display: inline-block;
}

#header #sentence{
	padding: 0px 0px 0px 6px;
	display: inline-block;
}

#header #sentence #sentence_search{
	min-width: 79px;
	outline: none;
}

#search_in_chosen{
	display: none;
}

#header #sentence .sentence_option{
	font-weight: 700;
	background: #FFF500;
	display: inline-block;
	padding: 5px 6px 1px 6px;
}

#container{
	position: absolute;
	top: 44px;
	left: 0px;
	width: 100%;
	bottom:  0px;
	overflow: auto;
}

#three{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

/*DRAG ITEMS*/
#drag_options *{
	width: 44px;
	height: 44px;
	position: absolute;
	bottom: 22px;
	left: 50%;
	

}

#drag_options.enable *{
	transform: translate3d(0,0px,0);
}

#drag_options .dragover{
	transform: scale(1.5);
}

.g_network .highlight .hl_title{
	display: block;
}

.g_network .article{
	display: none;
}

.highlight.focus{
	z-index: 10
}

.highlight.focus .hl_tags{
	display: block;
}

.highlight.focus .hl_description{
	display: block;
}

.highlight:hover{
	z-index: 15;
}

.tag{
	background: #404040;
	width: auto;
	max-width: 328px;
	/*padding: 4px 8px;*/
	padding: 4px 8px 2px 6px;
	left: 0px;
	top: 0px;
	position: absolute;
	height: auto;
	margin-bottom: 4px;
	font-family: "jaf-lapture-display", serif;
	font-style: normal;
	font-weight: 400;
	cursor: pointer;
	transition: opacity .1s;
}

.tag span{
	background: #404040;
	color: #F2F2F2;
	/*outline: 4px solid #404040;*/

	line-height: 20px;
	font-size: 16px;
	/*padding: 3px 0px 1px 0px;*/
}


#drag_add_tag{
	background: url("drag_add_tag.svg");
	background-size: 44px 44px;
	margin-left: -22px;
	bottom: 44px;
	transition: transform .4s .04s, background .4s;
	transform: translate3d(0,88px,0);
}

#drag_add_tag.dragover{
	/*background-image: url("drag_add_tag_dark.svg");*/
}

#drag_delete{
	background: url("drag_delete.svg");
	background-size: 44px 44px;
	margin-left: -88px;
	transition: transform .4s;
	transform: translate3d(44px,88px,0);
}

#drag_delete.dragover{
	/*background-image: url("drag_delete_dark.svg");*/
}

#drag_move{
	background: url("drag_move.svg");
	background-size: 44px 44px;
	margin-left: 44px;
	transition: transform .4s .08s;
	transform: translate3d(-44px,88px,0);
}

#drag_move.dragover{
	/*background-image: url("drag_move_dark.svg");*/
}

svg{
	position: absolute;
	z-index: 1;
}

